.featured{
    flex: 2;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 10px;
    padding: 1rem;
    margin-top: 2rem;
    
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--color-bg);
        .title{
            font-size: 16px;
            font-weight: 700px;
        }
    }

    .bottom{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .featuredChart{
            width: 100px;
            height: 100%;
        }
        .title{
            font-weight: 500;
            color: var(--color-bg);
        }
        .amount{
            font-size: 30px;
        }
        .description{
            font-size: 12px;
            font-weight: 700;
            color:gray;
            text-align: center;
        }
        .summary{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
            padding: 2px;

            .item{
                text-align: center;

                .itemTitle{
                    font-size: 14px;
                    color: gray;
                    font-weight: 700;
                }

                .itemResult{
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    font-size: 14px;

                    &.negative{
                        color: red;
                    }
                    &.positive{
                        color:green;
                    }
                }
            }
        }
    }

}