.TableContainer{
   padding: 2px 2rem;
   margin-top: 1rem;
}
.TableContainer h2{
    font-size: 18px;
    color: var(--color-text);
    font-weight: 700;
}
.TableContainer table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
  }

  .TableContainer td{
    color: var(--color-footer) !important;
    background-color: #fff !important;
  }
  
 .TableContainer th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;

  }
  
.TableContainer th {
    background-color: var(--color-footer);
    color: #fff !important;
  }
  
  /* Media Queries */
  @media (max-width: 767px) {
    .TableContainer table, thead, tbody, th, td, tr {
      display: block;
    }
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr {
      border: 1px solid #ccc !important;
      margin-bottom: 10px;
    }
    td {
      border: none;
      border-bottom: 1px solid #ccc !important;
      position: relative;
      padding-left: 50%;
    }
    td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
    td:nth-of-type(1):before {
      content: "Date";
    }
    td:nth-of-type(2):before {
      content: "Location";
    }
    td:nth-of-type(3):before {
      content: "Home Team";
    }
    td:nth-of-type(4):before {
      content: "Away Team";
    }
    td:nth-of-type(5):before {
      content: "Result";
    }
   
  }