.Navbar{
    height: 50px;
    // border-bottom:  0.5px solid rgb(188, 200, 219); 
    display: flex;
    font-size: 14px;
    align-items: center;
    color: #555;
    position: relative;
    width: 100%;
    // background-color: #555;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    .wrapper{
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .search{
            display: flex;
            align-items: center;
            border:  0.5px solid rgb(188, 200, 219); 
            padding: 3px;

            input{
                border: none;
                outline: none;
                background-color: transparent;

                &::placeholder{
                    font-size: 12px;
                }
            }
        }

        .items{
            display: flex;
            align-items: center;
            .item{
                display: flex;
                align-items: center;
                margin-right: 1rem;
                cursor: pointer;
                position: relative;

                .icon{
                    font-size: 20px;
                }
                .avatar{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
                .counter{
                    width: 15px;
                    height: 15px;
                    background-color: #ff4820;
                    border-radius: 50%;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                    font-size: 10px;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                }
            }
        }
    }
}