.widget{
   display: flex;
   flex: 1;
   justify-content: space-between;
   padding: 10px;
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   border-radius: 10px;
   height: auto;
   .left,.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title{
        font-weight: 800;
        font-size: 16px;
        color: var(--color-bg);
        text-transform: uppercase;
    }
    .counter{
        font-size: 28px;
        font-weight: 700;
        text-align: center !important;

    }
    .link{
        font-size: 15px;
        color: var(--color-text);
        cursor: pointer;
        font-weight: 800;
        width: max-content;
        padding-bottom: 1rem;
        text-decoration: none;
    }
    .percentage{
        display: flex;
        align-items: center;
        font-size: 14px;
        
        &.positive{
            color: green;
        }
        &.negative{
            color:red;
        }
    }
    .icon{
        font-size: 30px;
        padding: 5px;
        // background-color: #ff4820;
        align-self: flex-end;
        border-radius: 5px;

    }
   }
}