.fanclub__header{
    display: flex;
}
.fanclub__header-content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}
.fanclub__header-content h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 60px;
    line-height: 75px;
    letter-spacing: -0.04em;
}
.fanclub__header-content p{
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    color: var(--color-text);
    margin-top: 1.5rem;
}
.fanclub__header-content__input{
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
}
.fanclub__header-content__input input{
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    padding: 0 1rem;
    outline: none;
    color: #fff;
    border-radius: 5px 0px 0px 5px;
}
.fanclub__header-content__input button{
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    line-height: 27px;
    cursor: pointer;
    outline: none;
    border-radius: 0px 5px 5px 0px;
    padding: 0 1rem;
    background: #FF4820;
    color: #fff;
    border: none;
}
.fanclub__header-image{
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.fanclub__header-image img{
    width: 90%;
    height: 80%;
    margin: 0;
}

@media screen and (max-width:1050px){
    .fanclub__header{
        flex-direction: column;
    }
    .fanclub__header-content{
        margin: 0 0 3rem;
    }
}
@media screen and (max-width:650px){
    .fanclub__header h1{
        font-size: 48px;
        line-height: 60px;
    }
    .fanclub__header p{
        font-size: 16px;
        line-height: 24px;
    }
    .fanclub__header-content__input input,
    .fanclub__header-content__input button{
      font-size: 16px;
      line-height: 24px;
    }
}
@media screen and (max-width:490px){
    .fanclub__header h1{
        font-size: 36px;
        line-height: 48px;
    }
    .fanclub__header p{
        font-size: 14px;
        line-height: 24px;
    }
    .fanclub__header-content__input input,
    .fanclub__header-content__input button{
      font-size: 12px;
      line-height: 16px;
    }
}